<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; All Promotions</h1>
  </header>

  <div class="well">
    <%= link_to '+ New Promotion', [:new, :admin, :sale], class: 'btn btn-info' %>
  </div>

  <div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Status</th>
          <th>Percent off</th>
        </tr>
      </thead>
      <tbody>
        <%= render @sales %>
      </tbody>
    </table>

  </div>

</section>
